<div class="form-group">
    <label for="{{ input.id }}">{{input.label}}</label>
    <input type="submit"
           class="form-control"
           id="{{ input.id }}"
           name="{{ input.id }}"
           value="{{ input.value }}"
    >
</div>