<div class="form-group">
    <label class="col-form-label" for="{{ input.id }}">{{input.label}}</label>
    <select class="custom-select form-control"
           id="{{ input.id }}"
           name="{{ input.id }}"
    >
        {% for value in input.values %}
            {% block optionManagement %}
                <option
                    value="{{ value.code }}"
                    {%  if input.value == value.code %} selected {% endif %}
                >
                    {{ value.text }}
                </option>
            {% endblock %}
        {% endfor %}
    </select>
    <small class="form-text text-muted">{{input.error}}</small>
</div>